body {
  margin: 0 auto;
  max-width: 30em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: normal;
}

nav {
  padding: 8px;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
}

nav .selected {
  font-weight: bold;
}

.content {
  padding: 8px;
}

div.highlight {
  position: relative;
}

pre {
  border: 1px solid lightgrey;
  padding: 8px 40px 8px 8px;
  overflow: auto;
}

.language-js .k,
.language-js .kd,
.language-json .kc,
.language-ts .k,
.language-ts .kd {
  font-weight: bold;
}

.language-js .dl,
.language-js .s2,
.language-json .s2,
.language-sh .s1,
.language-ts .dl,
.language-ts .s2 {
  color: #a31515;
}

button.copy {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;

  cursor: pointer;

  visibility: hidden;
}

:hover > button.copy {
  visibility: visible;
}
