<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      vbezhenar.com {% if page.title != nil %}- {{ page.title }}{% endif %}
    </title>
    <link rel="icon" href="/assets/icon.png?230828" />
    <link rel="stylesheet" href="/assets/styles.css?230828" />
    <script type="module" src="/assets/scripts.js?230828"></script>
  </head>
  <body>
    <nav>
      {% if page.url == "/" %}
      <span class="selected">Home</span>
      {% else %}
      <a href="/">Home</a>
      {% endif %} {% if page.url == "/articles.html" %}
      <span class="selected">Articles</span>
      {% else %}
      <a href="/articles.html">Articles</a>
      {% endif %} {% if page.url == "/gists.html" %}
      <span class="selected">Gists</span>
      {% else %}
      <a href="/gists.html">Gists</a>
      {% endif %} {% if page.url == "/posts.html" %}
      <span class="selected">Posts</span>
      {% else %}
      <a href="/posts.html">Posts</a>
      {% endif %} {% if page.url == "/about.html" %}
      <span class="selected">About</span>
      {% else %}
      <a href="/about.html">About</a>
      {% endif %}
    </nav>
    <div class="content">{{ content }}</div>
  </body>
</html>
